.h{
font-size: 40px;
color: rgba(100,99,60,80);
text-align: center;	
}
h1{
	font-size: 55px;
	text-align: center;
	color: rgba(900,600,900,600);
}
ul{
	font-size: 18px;
}
p{
	font-size: 18px;
	text-align: left;
}

button{
	color: rgba(19,90,60,90);
	font-size: 16px;
	margin-left: 600px;
}
a{
	color:red;
	text-decoration: all;
}

article h{
	margin:auto;
    height: 90px;
	width: 500px;
	text-align: center;
	float: right;
	color: rgb(50,64,145);
	font-family: Algerian;
	font-size: 57px;
	margin-right: 320px;
     
}
article p{ 

	text-align: right;
	text-align: left;
	font-size: 22px;
	font-family:century;
	margin-left: 1px;

}

article img{
	float: left;
	padding-top: 10px;
	margin-right: 60px;


}
div{
	height: 800px;
	width: 600px;
	margin-right: 400px;	
}
article h1{
	color:rgb(90,60,90);
	font-color:red;
	font-size: 68px;
	font-family: Mongolian Baiti;
	margin:auto;
    height: 90px;
	width: 130px;
    
}
div1{
	color: rgb(50,64,145);
	font-family: Algerian;
	font-size: 57px;
}